.filter {
  composes: result from './result_set.css';
}

.facetGrid {
  composes: clearfix from './styles.css';
}

.facetContainer {
  width: 33.3333333333333333333333%;
  float: left;
  composes: clearfix from './styles.css';
}

.facet {
  composes: walmart from './styles.css';
  composes: clickable from './styles.css';
  composes: clearfix from './styles.css';

  padding: .5em;
  border: .1em solid #888;
  border-radius: .25em;
  margin: .5em .25em 0 .25em;
  display: block;
  text-align: center;
}

.facet:hover {
  background: rgba(61, 161, 224, .1);
}

.facetContainer:last-child .facet {
  margin-right: 0;
}

.facetContainer:first-child .facet {
  margin-left: 0;
}

.filterHeader {
  color: #888;
  font-size: .9em;
}

.facetCount {
  color: #888;
  font-size: .8em;
  margin-top: .25em;
}

.facetImage {
  float: left;
  height: 3em;
}

.facetText {
  padding: .5em;
  font-size: .9em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
