.result {
  padding: .5em 1em;
  font-family: myriad-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  word-spacing: 0px;
  letter-spacing: 0px;
  text-indent: 0px;
  text-rendering: auto;
  text-transform: none;
  background: white;
}

.clickable:hover {
  background: #bbb;
  cursor: pointer;
}

.parentResult {
  composes: result clickable;
}

.childResult {
  composes: result clickable;
}
