.result {
  composes: walmart from './styles.css';
  padding: .5em 1em;
  background: white;
  display: block;
}

.parentResult {
  composes: result;
  composes: clickable from './styles.css';
}

.childResult {
  padding-left: 2em !important;
  composes: result;
  composes: clickable from './styles.css';
}

.path {
  font-size: .8em;
  color: #888;
}

.resultSet {
  margin-bottom: .5em;
}
